<div class="layout">
        <div class="header-login">
            <div class="header-left">
                <span class="header-left_logo">
                    <img src="OIP.jpg" alt="">
                </span>
                <span class="header-left_icon-homepage">
                    <i class="fa-solid fa-house"></i>
                </span>
                <form class="header-left_search" action="/search" method="GET">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="q" placeholder="Nội dung bạn muốn tìm kiếm?" required>
                    <button type="submit" style="background:none;border:none;padding:0;">
                        <i class="fa-solid fa-folder-open"></i>
                    </button>
                </form>
                <div class="header-left_search--history">
                    <div class="header-left_search--history-header">Các tìm kiếm gần đây</div>
                    <div class="header-left_search--history-item">
                        <img src="ST.jpg" alt="st-MTP" class="header-left_search--history-icon">
                        <div class="header-left_search--history-texts">
                            <div class="header-left_search--history-title">Cà phê sữa</div>
                            <div class="header-left_search--history-subtitle">Thức uống</div>
                        </div>
                    </div>
                    <div class="header-left_search--history-item">
                        <img src="ST.jpg" alt="st-MTP" class="header-left_search--history-icon">
                        <div class="header-left_search--history-texts">
                            <div class="header-left_search--history-title">Cà phê sữa</div>
                            <div class="header-left_search--history-subtitle">Thức uống</div>
                        </div>
                    </div>
                    <button class="header-left_search--history-clear-button">Xoá các tìm kiếm gần đây</button>
                </div>  
            </div>
            <div class="header-right">
                <div class="header-right_menu">
                    <ul class="header-right_menu--list">
                        <li class="header-right_menu--item">Thông tin</li>
                        <li class="header-right_menu--item">Liên hệ</li>
                    </ul>
                </div>
                <% if (user) { %>
                    <div class="header-right_User">
                        <span class="header-right_User--noti"><i class="fa-solid fa-bell"></i></span>
                        <div class="header-right_User-box--avatar" id="avatarBtn">
                            <span class="header-right_User--avatar">N</span>
                        </div>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <div class="dropdown-item selected">
                                Hồ sơ
                            </div>
                            <div class="dropdown-item">
                                Hỗ trợ <i class="fa-solid fa-up-right-from-square icon"></i>
                            </div>
                            <div class="dropdown-item">
                                Cài đặt
                            </div>
                            <div class="dropdown-divider"></div>
                            <form action="/logout" method="POST" style="display: inline;" id="logoutForm">
                                <button type="submit" class="dropdown-item logout">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div class="header-right_login">
                        <a href="/register" class="header-right_login--signUp">Đăng ký</a>
                        <a href="/login" class="header-right_login--signIn">Đăng nhập</a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="container">
            <!-- size 1/4-->
            <div class="container-sidebar">

                <div class="container-sidebar_box4">
                    <ul class="container-sidebar_box4-playlist">
                        <li class="container-sidebar_box4-playlist--item">
                            <a href="/" class="container-sidebar_box4-playlist-info">
                                <div class="container-sidebar_box4-playlist-title">Homepage</div>
                            </a>
                        </li>
                        <li class="container-sidebar_box4-playlist--item selected">
                            <a href="/products" class="container-sidebar_box4-playlist-info">
                                <div class="container-sidebar_box4-playlist-title">Product</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- size 3/4 -->
            <div class="container-box-content">
                <!-- Những bài hát thịnh hành -->
                <div class="container-box-component">
                    <% if (product) { %>
                        <div class="container-box-component--header">
                            <div class="container-box-component--header--div">
                                <span class="container-box-component--header--text"><%= product.name %></span>    
                            </div>
                            <ul class="container-box-component--header--list--product">
                                <li class="container-box-component--header--item--product">
                                    <div class="song-thumbnail--product">
                                        <img src="/images/<%= product.image %>" alt="<%= product.name %>"
                                            class="container-box-component--header--item--img--product" />
                                        <span class="container-box-component--header--item--icon-play--product">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </span>
                                    </div>
                                    <span class="container-box-component--header--item--nameSong--product"><%= product.name %></span>
                                    <span class="container-box-component--header--item--artist--product">Giá: <%= product.price %>$</span>
                                    <div class="container-box-component--header--item--info--product">
                                        <span>Mô tả: <%= product.description %></span><br>
                                        <span>Danh mục: <%= product.category %></span><br>
                                        <span>Xuất xứ: <%= product.origin %></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <!-- Bạn cũng có thể thích -->
                <div class="container-box-component">
                    <div class="container-box-component--header">
                        <div class="container-box-component--header--div">
                            <span class="container-box-component--header--text">Bạn cũng có thể thích...</span>
                        </div>
                        <% if (products.length) { %>
                            <div class="slider-container">
                                <button class="container-box-component--header--list--btn-left">&#10094;</button>
                                <ul class="container-box-component--header--list">
                                    <% products.forEach(product => { %>
                                        <li class="container-box-component--header--item">
                                            <a href="/products/<%= product._id %>" class="product-link">
                                                <div class="song-thumbnail">
                                                    <img src="/images/<%= product.image %>" alt="<%= product.name %>"
                                                        class="container-box-component--header--item--img" />
                                                    <span class="container-box-component--header--item--icon-play">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </span>
                                                </div>
                                                <span class="container-box-component--header--item--nameSong"><%= product.name %></span>
                                                <span class="container-box-component--header--item--artist">Cost: <%= product.price %>$</span>
                                            </a>
                                        </li>       
                                    <% }) %>
                                </ul>
                                <button class="container-box-component--header--list--btn-right">&#10095;</button>
                            </div>
                        <% } else { %>
                            <span class="container-box-component--header--text">No products available</span>
                        <% } %>
                    </div>
                </div>
                <!-- Footer -->
                <div class="container-box-footer">
                    <div class="box--list">
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Công ty</h3>
                            <li class="container-box-footer--item">Giới thiệu</li>
                            <li class="container-box-footer--item">Việc làm</li>
                            <li class="container-box-footer--item">For the Record</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Cộng đồng</h3>
                            <li class="container-box-footer--item">Dành cho các khách hàng</li>
                            <li class="container-box-footer--item">Nhà Phát triển</li>
                            <li class="container-box-footer--item">Quảng cáo</li>
                            <li class="container-box-footer--item">Nhà đầu tư</li>
                            <li class="container-box-footer--item">Nhà cung cấp</li>

                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Liên kết hữu ích</h3>
                            <li class="container-box-footer--item">Hỗ trợ</li>
                            <li class="container-box-footer--item">Ứng dụng di động miễn phí</li>
                            <li class="container-box-footer--item">Phổ biến quốc gia</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Các gói của shop</h3>
                            <li class="container-box-footer--item">Premium Individual</li>
                            <li class="container-box-footer--item">Premium Student</li>
                            <li class="container-box-footer--item">Shop free</li>
                        </ul>
                    </div>
                    <div class="box--icon">
                        <span class="box--icon--span">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-facebook"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>